#home {
  text-align: center;
  md-content{
    background: lighten(#71AFAD, 15%);
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darken(#585858, 10%);
    font-weight: 600;
    text-align: center;
  }

  .switch {
    padding-right: 10px;
    vertical-align: middle;
  }

  .subtitle{
    font-size: 18px;
    padding-bottom: 0;
  }

  md-content{
    // background: rgba(236, 236, 234, 0.6);
    margin: 0;
  }

  .weight {
    vertical-align: middle;
  }

  md-card{
    width: 90%;
  }

  md-input-container {
    display: inline-block;
    width: 70%;
    margin: 0;
  }

  input{
    color: darken(#585858, 30%);
    text-align: center;
    margin-bottom: 0;
    background: #ECECEA;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    display: block;
  }

  div{
    vertical-align: middle;
  }

  h4{
    color: #FF3B80;
    font-weight: 600;
  }

  span {
    vertical-align: middle;
  }

  .active {
    background-color: #FF3B80;
    // background-color: #F0F5C1;
    // color: darken(#585858, 20%);
  }
}

