<section class="tracking container-fluid" layout-align="center center" id="popupContainer">
  <md-card layout-align="center center" layout-fill layout="column">
  	<h1>Height Approximation</h1>
    <span layout="row">
    	<md-button class="md-raised md-primary" ng-click="showAlert()">
        Take Picture
      </md-button>
    	<md-button class="md-raised md-primary">
    	    <label for="file_input">Load Picture</label>
    	    <input type="file" id="file_input" ng-click="initUpload()" class="hidden" name="upload">
    	</md-button>
    </span>

  	<div class="image-container">
  	  <img id="img" ng-src="{{imageSource}}" />
  	</div>
  	<video id="MediaStreamVideo" ng-class="{'hidden': !!hide}"></video>

  	<div layout="row" layout-sm="column" layout-align="space-around" ng-if="showLoader">
  	  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  	</div>
  </md-card>
</section>
