<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
    <uib-alert type="danger" ng-show="error">
        {{ error }}
    </uib-alert>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label for="email">Email address</label>
            <input type="text" ng-model="login.email" class="form-control" id="email">
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label for="login-password">Password</label>
            <input type="password" ng-model="login.password" class="form-control" id="login-password">
        </md-input-container>
    </div>
    <md-button type="submit" class="btn btn-default">Submit</md-button>
</form>