<section class="med-categories container-fluid" layout="column">
  <div layout="column" layout-align="center center">
    <md-content class="md-padding" layout-fill class="auto-complete">
      <h2 layout-align="center center">Quick Look Up</h2>
      <form ng-submit="$event.preventDefault()" class="search-form">
        <md-autocomplete
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Search for Medication">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
      </form>
      <md-button class="md-raised md-primary">Enter</md-button>
    </md-content>
  </div>
  <h2>Select Category</h2>
  <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;">
    <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" ng-repeat="category in categories" ng-click="openMedList(category, $event)">
      <span class="category-text">{{category.name}}</span>
    </md-whiteframe>
  </div>
</section>