<section class="medication-list container-fluid">
  <md-content flex layout-padding>
    <h1>{{category}}</h1>
    <md-list>
      <md-subheader class="md-no-sticky">Select your desired medication</md-subheader>
      <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="medication in filteredMeds">
        <!-- <md-icon md-svg-icon="{{}}"></md-icon> -->
        <p> {{ medication.name }} </p>
        <p> {{ medication.concentration }} </p>
        <p> {{ medication.dosage }} </p>
        <p> {{ medication.dosageUnit }} </p>
        <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
      </md-list-item>
    </md-list>
  </md-content>
</section>