<section class="medication-details container-fluid">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Dosage">
        <md-content class="md-padding" layout-align="center center">
          <h1 class="md-display-2">{{medication.name}}: DOSE: ADD DOSE</h1>
          <table class="table" flex>
            <thead>
              <tr layout-align="center center">
                <th>Medication</th>
                <th>Concentration</th>
                <th>Dose/kg</th>
                <th>Patient Dose</th>
                <th>Max Dose</th>
              </tr>
            </thead>
            <tbody>
              <md-list>
                <tr>
                  <td>{{ medication.name }}</td>
                  <td>{{ medication.concentration }} {{medication.doseUnit}}/mL</td> 
                  <td>{{ medication.dosage }} {{ medication.doseUnit }}/kg</td>
                  <td>{{patientDose[0]}}{{medication.doseUnit}} ({{patientDose[1]}})</td>
                  <td>{{medication.maxDose}}</td>
                </tr>
              </md-list>
            </tbody>
          </table>
          <b>
            <h3 ng-if="medication.instructions.length">Instructions: </h3>
            <h3 class="description" ng-if="medication.instructions.length">{{medication.instructions}}</h3>
          </b>
        </md-content>
      </md-tab>
      <md-tab label="Patient Summary">
        <md-content class="md-padding">
          <h1 class="md-display-2">Administrations</h1>
          <table class="table" flex>
            <thead>
              <tr layout-align="center center">
                <th>Medication</th>
                <th>Concentration</th>
                <th>Dose/kg</th>
                <th>Patient Dose</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <md-list>
                <tr>
                  <td>Naloxone</td>
                  <td>0.4 mg/mL</td>
                  <td>0.01 mg/kg</td>
                  <td>0.11 mg</td>
                  <td>{{demoDate(date)}}</td>
                </tr>
                <tr>
                  <td>{{ medication.name }}</td>
                  <td>{{ medication.concentration }} {{medication.doseUnit}}/mL</td>
                  <td>{{ medication.dosage }} {{ medication.doseUnit }}/kg</td>
                  <td>{{patientDose[0]}}{{medication.doseUnit}} ({{patientDose[1]}})</td>
                  <td>
                    {{formatDate(date)}}
                  </td>
                </tr>
              </md-list>
            </tbody>
          </table>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</section>