<section id="home" class="container-fluid" layout-align="center center">
  <md-content layout-align="center center" layout-fill layout="column">
    <md-card bg-white block layout-padding>
      <form>
        <div layout-align="center center">
          <h2 class="subtitle">Select Units:</h2>
          <md-button class="md-raised md-primary" ng-click="toggleUnits('US')" ng-class="{active: isUs === 'US'}">US</md-button>
          <md-button class="md-raised md-primary" ng-click="toggleUnits('SI')" ng-class="{active: isUs === 'SI'}">SI</md-button>
        </div>
        <div layout-align="center center" layout-fill layout-padding class="weight">
          <md-input-container md-no-float flex-gt-lg>
            <h2 class="subtitle">Enter Weight:</h2>
            <span layout="row" layout-align="center center">
              <input ng-model="weight" 
                       placeholder="Weight ({{getWeightMetric()}})"
                       type="number"/>
              <md-button class="md-raised md-primary" ng-click="submitMetric('weight', weight)">Enter</md-button>
            </span>
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
          <h4>OR</h4>
        </div>
        <div layout-align="center center" layout-fill layout-padding class="weight">
          <md-input-container md-no-float flex-gt-lg>
            <span layout="row" layout-align="center center">
              <h2 class="subtitle switch">Enter Age:</h2>
              <md-switch ng-model="isYears" aria-label="Switch 1">
                {{isYears ? "years" : "months"}}
              </md-switch>
            </span>
            <span layout="row">
              <input ng-model="age" 
                     placeholder="Age ({{isYears ? 'years' : 'months'}})"
                     type="number"/>
              <md-button class="md-raised md-primary" layout-align="right center" ng-click="submitMetric('age', age)">Enter</md-button>
            </span>
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
          <h4>OR</h4>
        </div>
        <div layout-align="center center" layout-fill layout-padding class="weight">
          <md-input-container md-no-float flex-gt-lg>
            <h2 class="subtitle">Calculate Weight:</h2>
            <div layout="row" layout-align="center center">
              <md-button ui-sref="tracking">
                <ng-md-icon icon="photo_camera" size="48px"></ng-md-icon>
              </md-button>
            </div> 
          </md-input-container>
        </div>
      </form>
    </md-card>
  </md-content>
</section>