.calibrate{
	justify-content: center;

	.crosshair{
		cursor: crosshair;
	}

	.color-swatch{
		width: 60px;
		height: 60px;
		color: white;
	}
	
	.buttons{
		display: inline-block;
		vertical-align: middle;
	}

	#canvas{
		margin: -200px 0 0 -200px;
		left: 50%;
		top: 70%;
		position: absolute;
		display: block;
		outline: none;
	}

	.another-box{
		display: block;
		flex-wrap: nowrap;
	}
  .hidden{
    display: none;
  }

  .md-raised > label {
    display: inline;
    max-width: none;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    color: rgba(255,255,255,0.87);
  }

}

.container-fluid{
  width: 80%;
	text-align: center;
}