.calibrate{
	justify-content: center;

	.crosshair{
		cursor: crosshair;
	}
  h1{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-size: 30px;
    color: darken(#585858, 10%);
  }

	.color-swatch{
		width: 60px;
		height: 60px;
		color: white;
	}
	
	.buttons{
		display: inline-block;
		vertical-align: middle;
	}

	#canvas{
		margin: -200px 0 0 -200px;
		left: 50%;
		top: 70%;
		position: absolute;
		display: block;
		outline: none;
	}

	.another-box{
		display: block;
		flex-wrap: nowrap;
	}
  .hidden{
    display: none;
  }

  md-card{
    min-height: 400px;
  }

  .md-raised > label {
    display: inline;
    max-width: none;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    color: rgba(255,255,255,0.87);
  }

}