.med-categories {
  h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darken(#585858, 20%);
    font-weight: 600;
    text-align: center;
  }

  .layout-fill{
    background: #71AFAD;
  }

  .search-form{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
  }

  .md-whiteframe-1dp{
    background: lighten(#C1E2A3, 10%);
    span{
      color: darken(#585858, 10%);
    }
  }

  md-content.auto-complete{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background: #71AFAD;
  }

  .category-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  md-button {
    display: inline-block;
    vertical-align: middle;
  }

  md-whiteframe {
    background: #ECECEA;
    margin: 30px;
    height: 100px; 
  }
  @media (max-width: 599px) {
    md-whiteframe {
      margin: 7px;
      height: 50px;
      background-color: #c8e4fa; 
    }
    md-whiteframe > span {
      font-size: 0.4em; 
    } 
  }
  @media (min-width: 600px) and (max-width: 959px) {
    md-whiteframe {
      margin: 20px;
      height: 75px; 
    }
    md-whiteframe > span {
      font-size: 0.6em; 
    } 
  }
  @media (min-width: 960px) and (max-width: 1279px) {
    md-whiteframe {
      margin: 20px;
      height: 90px;
      background-color: #fcddde; 
    }
    md-whiteframe > span {
      font-size: 0.9em; 
    } 
  }
  @media (min-width: 1280px) {
    md-whiteframe {
      margin: 25px;
      height: 100px;
      background-color: #F2FCE2; 
    }
    md-whiteframe > span {
      font-size: 1.0em; 
    } 
  }
}