* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: lighten(#71AFAD, 15%);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 30px;
  margin: 0 auto;
}

.container-fluid{
  width: 80%;
  text-align: center;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'categories';
@import 'medicationList';
@import 'calibrate';
@import 'tracking';
@import 'patientCenter';
@import 'medicationDetail';