.medication-details{
  h1{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
  }
  h3{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    font-size: 16px;
  }

  th{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
  }

  .instructions {
    vertical-align: middle;
  }

  .description{
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
  }

  .dose{
    color: red;
  }
}