.medication-details{

  md-content{
    h3{
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: left;
    }
  }

  .dose{
    color: red;
  }
}

//big RED letter