.medication-details{
  h1{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
  }
  h3{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    font-size: 16px;
  }

  th{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
  }

  .dose{
    color: red;
  }
}

//big RED letter


// md-card.bg-white.block.padding15(layout="row", layout-padding)
//             h1.visitor-signin-title {{listing.street}}
//               md-button.btn-block.md-accent.md-raised.md-hue-1.login(type="submit", ng-click='showForm($event)', class='visitor-signin', layout-align='right right') Sign In
            
//             table.table(flex)
//               thead
//                 tr
//                   th Name
//                   th Email
//                   th Phone
//                   th Agent Name
//                   th Date

//               tbody(ng-repeat='visitor in listing.visitors')
//                 tr(ng-dblclick="showForm($event, visitor, true)")
//                   td {{ visitor.name }}
//                   td ****
//                   td ***-***-****
//                   td {{ visitor.agent || 'No Agent' }}
//                   td {{ formatDate(visitor.date) }}