.rect {
  border: 2px solid #a64ceb;
  left: -1000px;
  position: absolute;
  top: -1000px;
}

#img {
  position: absolute;
  margin: auto;
  width: 400px;
}

.image-container {
  width: 100%;
  position: relative;
  background: #eee;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -200px;
}

.md-raised > label {
  display: inline;
  max-width: none;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: rgba(255,255,255,0.87);
}