.tracking{
  .rect {
    border: 2px solid #a64ceb;
    left: -1000px;
    position: absolute;
    top: -1000px;
  }

  #img {
    // position: absolute;
    margin: auto;
    width: 400px;
  }

  .image-container {
    width: 100%;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    // left: 50%;
    // top: 50%;
    // margin: -200px 0 0 -200px;
  }

  .md-raised > label {
    display: inline;
    max-width: none;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    color: rgba(255,255,255,0.87);
  }
  .hidden{
    display: none;
  }
  h1{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-size: 30px;
    color: darken(#585858, 10%);
  }

  md-card{
    min-height: 400px;
  }

  .image-container {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}